.cart-product-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cart-product-name-container {
    width: 25%;
}

.cart-product-image {

}

.cart-product-name {
    font-size: 12px;
    padding-top: 5px;
}

.cart-product-info {
    width: 25%;
    line-height: 70px;
    text-align: center;
}

span {
    margin: 0 10px;
    cursor: pointer;
}