.cart-container {
    width: 30%;
    border: 1px solid #dedede;
    padding: 20px 10px;
    margin: 19px 1%;
}

@media only screen and (max-width: 700px) {
    .cart-container {
        width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .cart-container {
        width: 80%;
        margin: 10px auto;
    }
}

.cart-header {
    display: flex;
    line-height: 40px;
    justify-content: space-between;
}

.header-item {
    width: 25%;
    text-align: center;
}

.cart-footer {
    
}

.footer-item {
    text-align: right;
}