.footer {
    background-color: #172337;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: sticky;
    bottom: 0px;
    left: 0px;
    height: 20vh;
    width: 100vw;
}


.footer-list {
    padding: 10px 20px;
}

@media only screen and (max-width: 700px) {
    .footer-list:nth-last-child(1), .footer-list:nth-last-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .footer-list:nth-last-child(3) {
        display: none;
    }
}

.footer-list-header{
    color: #868686;
    font-weight: 600;
    line-height: 32px;
}

.footer-list-item{
    font-size: 12px;
    line-height: 16px;
    color: #e1e2e4;
}