.grid-container {
    width: 300px;
    padding: 10px;
    /* border: 1px solid   #aaa; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container:hover {
    border: 1px solid #dedede;
    padding-left: 12px;
    box-shadow: 8px 5px 7px #000;
}

.product-image {

}

.product-text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}

.product-description {
    width: 100%;
    text-align: justify;
    line-height: 20px;
    padding: 0 5px;
}

.product-info {
    width: 100%;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 10px;
}